<section>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.vehicleName}}</td>
                <td>{{this.quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<style>
    body {
        text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

table {
    width: 50%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

</style>
  
