<section>
    <div class="container p-5">
        <div class="row ml-5">
            <form action="/seller/add-productname" method="post" enctype="multipart/form-data" id="addProductForm">
                <!-- Product Name -->
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="productName" required>

                <button type="submit" class="btn btn-primary">Add ProductName</button>
            </form>
        </div>
    </div>
</section>
