<section class="d-flex justify-content-center ">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <form action="/order-place" method="post" class="text-center">
                <h2>Order Placed Successfully</h2>
                <a href="/orders" class="btn btn-info mt-3">View Orders</a>
            </form>
        </div>
    </div>
</section>
