<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Checkout</title>
    <!-- Include necessary CSS files -->
    <link rel="stylesheet" href="/stylesheets/place-order.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-7k+tcyLVhSgRuCkb7F5HaFL4kO3BCjdj+YoWBnRcSi+2w80Rz4z1kUPROF9ih2gb/fvC2lGJcVcWUrHdNUK4ng=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Include your custom CSS file if any -->
</head>

<body>

    <section>
        <div class="row mt-3 mx-3" style="margin-top: 25px;">
            <div class="col-md-3">
                <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
                    <i id="animationDemo" data-mdb-animation="slide-right" data-mdb-toggle="animation"
                        data-mdb-animation-reset="true" data-mdb-animation-start="onScroll"
                        data-mdb-animation-on-scroll="repeat" class="fas fa-3x fa-shipping-fast text-black"></i>
                    <h3 class="mt-3 text-black">Welcome</h3>
                    <p class="white-text">You are 30 seconds away from completing your order!</p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-white btn-rounded back-button">Go back</button>
                </div>
            </div>
            <div class="col-md-9 justify-content-center">
                <div class="card card-custom pb-4">
                    <div class="card-body mt-0 mx-5">
                        <div class="text-center mb-3 pb-2 mt-3">
                            <h4 style="color: #495057;">Delivery Details</h4>
                        </div>

                        <form class="mb-0" action="" method="post" id="checkout-form">

                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="textarea" id="address" name="address"
                                            class="form-control input-custom" />
                                        <label class="form-label" for="address">Address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="city" name="city" class="form-control input-custom" />
                                        <label class="form-label" for="city">City</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="zipCode" name="zipCode"
                                            class="form-control input-custom" />
                                        <label class="form-label" for="zipCode">Zip</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="mobile" name="mobile"
                                            class="form-control input-custom" />
                                        <label class="form-label" for="mobile">Mobile Number</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="hidden" name="userId" value="{{user._id}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="payment">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-rounded" id="rzp-button1"
                                    style="background-color: #0062CC;">Place order</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Include necessary JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- Include your custom JavaScript file if any -->
<script>
    $(document).ready(function () {
        $("#checkout-form").submit((e) => {
            console.log("Razor")
            e.preventDefault();
            $.ajax({
                url: '/place-order',
                type: 'POST',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    if (response.cod_Success) {
                        location.href = '/order-place';
                    } else {
                        // If cash on delivery is not successful, initiate Razorpay payment
                        razorpayPayment(response);
                    }
                },
                error: (error) => {
                    console.error(error);
                }
            });
        });
        
        // Function to handle Razorpay payment
        function razorpayPayment(order) {
            var options = {
                "key": 'rzp_test_xxcqlCHlsEvoWt', // Your Razorpay API key
                "amount": order.amount, // Amount is in currency subunits
                "currency": "INR",
                "name": "Auto Trade X", // Your business name
                "description": "Test Transaction",
                "order_id": order.id, // Razorpay order ID
                "handler": function (response) {
                    verifyPayment(response, order);
                },
                "prefill": {
                    "name": "Gaurav Kumar", // Customer's name
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000" // Customer's phone number
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
        
        // Function to verify payment
        // Function to verify payment
// Function to verify payment
function verifyPayment(payment, order) {
    $.ajax({
        url: '/verify-payment',
        data: {
            payment,
            order,
        },
        method: 'POST',
        success: (response) => {
            if (response.status === 'success') {
                // Payment is successful
                location.href = '/order-place';
            } else {
                // Payment failed
                alert("Payment Failed: " + response.error);
            }
        },
        error: (error) => {
            console.error("Error verifying payment:", error);
            alert("Error verifying payment");
        }
    });
}


    });
</script>

</body>

</html>